$blue: #52c4f8;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,&display=swap');
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items: center;
	box-sizing: border-box;
	height:100vh;
}
h1{
	color:$blue;
	font-weight: normal;
	font-size:3em;
}
.logo{
	height:200px;
}
.item{
	font-weight: 300;
	margin:10px 20px;
	font-size: 1.2em;
}
.social{
	
	img{
		height:32px;
	}
}
